// Place all the styles related to the Ticket controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.clickable {
    cursor: hand;
    cursor: pointer;
    transition: background-color 0.5s;
}

.clickable:hover {
    background-color: #72A0C1;
}
